.task-buttons-row {
    margin: 15px 0 0 0;
}

.preview-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.task-container {
    margin: 15px;
}

.task-link {
    display: block;
    border: 1px solid #dff0d8;
    border-radius: 5px;
    width: 270px;
    height: 140px;
    background-color: #dff0d8;
    padding: 0 10px 0 10px;
}

.task-link:hover {
    background-color: #dcedd5;
    border: 1px solid #dcedd5;
}