@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

button {
    outline: none !important;
}

a {
    text-decoration: none !important;
}

/*Task list*/
.task-buttons-row {
    margin: 15px 0 0 0;
}

/*Task preview*/
.preview-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.task-container {
    margin: 15px;
}

.task-link {
    display: block;
    border: 1px solid #ccffcc;
    border-radius: 5px;
    width: 270px;
    height: 140px;
    background-color: #ccffcc;
    padding: 0 10px 0 10px;
}

.task-link:hover {
    background-color: #acdeac;
    border: 1px solid #acdeac;
}